# Change DNS settings easily
alias setdns='networksetup -setdnsservers Wi-Fi'
alias getdns='networksetup -getdnsservers Wi-Fi'

alias dockercleanup='docker rmi -f $(docker images -q --filter "dangling=true")'
alias git_delete_merged_branches='git branch --merged | grep -v "\*" | xargs -n 1 git branch -d'

alias chkpath="echo $PATH |tr \':\' \'\\\n\' |xargs ls -ld"

# git squash for some projects that like it
#squash = !f(){ CUR=`git rev-parse HEAD` && git reset --soft ${1} && git commit -m "$(git log --format=%B ${1}..${CUR})"; };f 

# simple bandwidth check
alias bt='wget http://cachefly.cachefly.net/100mb.test -O /dev/null'
alias dig='dig +short +noshort'

alias la="exa -abghl --git --color=automatic"


# some helpers for ssh tunnel proxies from
# http://www.starkandwayne.com/blog/setting-up-an-ssh-tunnel-with-ssh-config/
alias proxy-on='ssh -fN dmz-proxy'
alias proxy-check='ssh -O check dmz-proxy'
alias proxy-off='ssh -O exit dmz-proxy'
alias dc='docker-compose'

# https://theptrk.com/2018/07/11/did-txt-file/
alias did="vim +'normal Go' +'r!date' ~/Dropbox/did.txt"
