# Change DNS settings easily
alias setdns='networksetup -setdnsservers Wi-Fi'
alias getdns='networksetup -getdnsservers Wi-Fi'

# if nvim is available prefer that
type nvim &>/dev/null && alias vim='nvim'

alias dockercleanup='docker rmi -f $(docker images -q --filter "dangling=true")'
alias git_delete_merged_branches='git branch --merged | grep -v "\*" | xargs -n 1 git branch -d'

alias chkpath="echo $PATH |tr \':\' \'\\\n\' |xargs ls -ld"

# git squash for some projects that like it
#squash = !f(){ CUR=`git rev-parse HEAD` && git reset --soft ${1} && git commit -m "$(git log --format=%B ${1}..${CUR})"; };f 

# simple bandwidth check
alias bt='wget http://cachefly.cachefly.net/100mb.test -O /dev/null'
alias dig='dig +short +noshort'

alias la="eza -abghl --git --color=automatic"
alias l="eza -l --color=automatic"
alias ls="eza -l --color=automatic --git"
alias tree="eza -l --tree --git"

alias gitversion="git describe --always --dirty --tags"


# some helpers for ssh tunnel proxies from
# http://www.starkandwayne.com/blog/setting-up-an-ssh-tunnel-with-ssh-config/
alias proxy-on='ssh -fN dmz-proxy'
alias proxy-check='ssh -O check dmz-proxy'
alias proxy-off='ssh -O exit dmz-proxy'
alias edc='docker-compose'

# https://theptrk.com/2018/07/11/did-txt-file/
alias did="vim +'normal Go' +'r!date' ~/Dropbox/did.txt"
alias cdh='cd ~/go/src/github.com/kindlyops/havengrc'

# helpers for reversing gron https://github.com/tomnomnom/gron
alias norg="gron --ungron"
alias ungron="gron --ungron"

# helpers for running cdk under bazel
alias bcdk="bazel run //infra:cdk --"
alias bcdk2="bazel run //infra:cdk2 --"
alias bcdk3="bazel run //infra:cdk3 --"

alias k=kubectl

